<!DOCTYPE html>
  <head></head>
  <body>
  <br>

    <ul class="list-group list-group-flush" style= "width:300px;">
      {% for item in items %}
        <li class="list-group-item">{{ item }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
